{% extends 'base.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
    <h1>Module</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ module.id }}</td>
            </tr>
            <tr>
                <th>Formateur</th>
                <td>{{ module.formateur }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ module.note }}</td>
            </tr>
            <tr>
                <th>Appreciation</th>
                <td>{{ module.appreciation }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ module.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_module_index') }}">back to list</a>

    <a href="{{ path('app_module_edit', {'id': module.id}) }}">edit</a>

    {{ include('module/_delete_form.html.twig') }}
{% endblock %}
